<h2><%= title %></h2>
<%= form_with(model: @task, local: true) do |form| %>
    <% if @task.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.label :expired_at %>
    <%= form.date_select :expired_at %>
  </div>
  <div>
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.keys.to_a, {} %>
  </div>
  <div>
    <%= form.label :priority %>
    <%= form.select :priority, Task.priorities.keys.to_a, {} %>
  </div>
  <div>
    <%= form.label :label %>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  </div>

  <%= form.submit nil, class:"new btn btn-primary btn-sm" %>
<% end %>

<%= link_to  t('tasks.back'), tasks_path, class:"back btn btn-outline-primary btn-sm" %>
