<h1><%= t('tasks.show') %></h1>
<p><%= t('tasks.title') %>: <%= @task.title %></p>
<p><%= t('tasks.content') %>: <%= @task.content %></p>
<p><%= t('tasks.label') %>:
  <% @task.labels.each do |label| %>
    <%= label.name %>
  <% end %>
</p>
