<h1>管理画面：ユーザー一覧を表示</h1>

<table class='table'>
  <tr>
    <th><%= t('tasks.title') %></th>
    <th><%= t('tasks.content') %></th>
    <th><%= t('tasks.status') %></th>
  </tr>

<% @users.each do |user| %>
  
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
  </tr>
<% end %>
</table>