<h1>管理画面：ユーザー一覧を表示</h1>
<%= link_to "ユーザー新規作成", new_admin_user_path, class:"new btn btn-primary btn-sm" %>

<table class='table'>
  <tr>
    <th><%= t('tasks.title') %></th>
    <th><%= t('tasks.content') %></th>
    <th><%= t('tasks.status') %></th>
  </tr>

<% @users.each do |user| %>
  
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= link_to "詳細", admin_user_path(user.id), class:"show btn btn-outline-primary btn-sm" %></td>
    <td><%= link_to "編集", edit_admin_user_path(user.id), class:"edit btn btn-outline-success btn-sm" %></td>
    <td><%= link_to "削除", admin_user_path(user.id), method: :delete, class:"edit btn btn-outline-secondary btn-sm" %></td>
  </tr>
<% end %>
</table>